<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div id="response">{{message}}</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <form>
        <div class="form-group">

          <label for="title">
            Tytuł, który chcesz usunąć
          </label>
          <input type="text" name="title" [(ngModel)]="book.title" size="30"/>
        </div>
        <button type="submit" class="btn btn-primary" (click)="delete()">
          Usuń
        </button>
        <button type="reset" class="btn btn-dangery">
          Wyczyść
        </button>
      </form>
    </div>
    <div><a routerLink="/loggedUser">Return to Table of Content</a></div>
  </div>
</div>
