<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <ul>
        <li class="list-item">
          <a routerLink="/add">Add book</a>
        </li>
        <li class="list-item">
          <a routerLink="/get">Get all books</a>
        </li>
        <li class="list-item">
          <a routerLink="/modify">Modify data</a>
        </li>
        <li class="list-item">
          <a routerLink="/delete">Delete book</a>
        </li>
      </ul>
    </div>
    <div><p>Click here to <a href="#" (click)="logout()">logout</a></p></div>
    <router-outlet></router-outlet>
  </div>
</div>
