<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div id="response">{{message}}</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <form>
        <div class="form-group">

          <label for="title">
            Tytuł książki
          </label>
          <input type="text" id="title" name="title" [(ngModel)]="book.title" size="30"/>
        </div>

        <div class="form-group">

          <label for="author">
            Autor książki
          </label>
          <input type="text" id="author" name="author" [(ngModel)]="book.author" size="30"/>
        </div>

        <button type="submit" class="btn btn-primary" (click)="return()">
          Zwróć
        </button>
        <button type="reset" class="btn btn-dangery">
          Wyczyść
        </button>
      </form>
    </div>
    <div><a routerLink="/modify">Return to Table of modyfing options</a></div>
  </div>
</div>
