<div class="container-fluid">
  <div id="response">{{message}}</div>
  <div class="row">
    <div class="col-md-12">
      <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" enctype="text/plain">
        <div class="form-group">
          <label for="username">
            Username
          </label>
          <input type="text" name="username" ngModel size="30"/>
        </div>
        <div class="form-group">

          <label for="password">
            Password
          </label>
          <input type="password" name="password" ngModel size="30"/>
        </div>
        <div class="form-group">
        </div>
        <button type="submit" class="btn btn-primary">
          Login
        </button>
        <button type="reset" class="btn btn-dangery">
          Wyczyść
        </button>
      </form>
    </div>
  </div>
</div>
