<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Bookstore</title>
</head>
<body>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h3 class="text-center text-muted">
        Welcome to Bookstore - Java application
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <dl>
        <dt>
          This application has been written in java 8 language with Spring Boot Framework. In application was used
          Spring MVC, Data and Security. App includes unit tests for bookstore.controller class.
        </dt>
      </dl>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12" *ngIf="token===null">
      <dl>
        You have to login to see what can you do in this application. Please click <a routerLink="/login">here</a> to
        login.
      </dl>
    </div>
  </div>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
</body>
</html>
