<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div id="response">{{message}}</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <form>
        <div class="form-group">

          <label for="title">
            Tytuł
          </label>
          <input type="text" name="title" id="title" [(ngModel)]="book.title" size="30"/>
        </div>
        <div class="form-group">

          <label for="releaseDate">
            Data wydania
          </label>
          <input type="text" name="releaseDate" id="releaseDate" [(ngModel)]="book.releaseDate" size="30"/>
        </div>
        <div class="form-group">

          <label for="author">
            Autor książki
          </label>
          <input type="text" name="author" id="author" [(ngModel)]="book.author" size="30"/>
        </div>
        <button type="submit" class="btn btn-primary" (click)="onSubmit()">
          Dodaj
        </button>
        <button type="reset" class="btn btn-danger">
          Wyczyść
        </button>
      </form>
    </div>
    <div><a routerLink="/loggedUser">Return to Table of Content</a></div>
  </div>
</div>
