<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div id="response">{{message}}</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <form novalidate (submit)="get(title)">
        <div class="form-group">

          <label for="title">
            Podaj tytuł, którego szukasz
          </label>
          <input type="text" name="title" id="title" [(ngModel)]="title" size="30"/>
        </div>
        <button type="submit" class="btn btn-primary">
          Szukaj
        </button>
        <button type="reset" class="btn btn-dangery">
          Wyczyść
        </button>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table id="books" class="table table-hover table-sm table-bordered">
        <thead>
        <tr>
          <th>
            Id
          </th>
          <th>
            Tytuł
          </th>
          <th>
            Autor
          </th>
          <th>
            Data wydania
          </th>
          <th>
            Czy wypożyczona
          </th>
        </tr>
        </thead>
        <tbody>
        <tr #clear class="table-success" *ngFor="let book of books">
          <td>
            {{book[0]}}
          </td>
          <td>
            {{book[1]}}
          </td>
          <td>
            {{book[4]}}
          </td>
          <td>
            {{book[2]}}
          </td>
          <td>
            {{book[3]}}
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div><a routerLink="/loggedUser">Return to Table of Content</a></div>
  </div>
</div>
