<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <ul>
        <li class="list-item">
          <a routerLink="/loan">Loan Book</a>
        </li>
        <li class="list-item">
          <a routerLink="/return">Return Book</a>
        </li>
        <li class="list-item">
          <a routerLink="/modyfiTitle">Modyfi title</a>
        </li>
        <li class="list-item">
          <a routerLink="/modyfiDate">Modyfi releaese date</a>
        </li>
        <li class="list-item">
          <a routerLink="/modyfiAuthor">Modyfi author</a>
        </li>
      </ul>
    </div>
    <div><a routerLink="/loggedUser">Return to Table of Content</a></div>
  </div>
</div>
